body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin: 0;
    height: 100vh;
}

body > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

body > div > div {
    text-align: center;
}